<h1>New timecard</h1>

<div>

    <div class="alert alert-warning" ng-show="error_msg != null">
        <span class="pficon-layered">
          <span class="pficon pficon-warning-triangle"></span>
          <span class="pficon pficon-warning-exclamation"></span>
        </span> 
            {{error_msg.error}}
    </div>
    
    <div class="alert alert-success" ng-show="saved">
      <span class="pficon pficon-ok"></span>
            Timecard was successfully saved.
    </div>

    <form class="form-horizontal" name="form">
        
        <div class="form-group" >
            <label for="prj_pm" class="col-md-2 control-label">Project</label>
            <div class="col-md-5">
                <label>{{timecard.project.name}} - {{timecard.project.initialDate|date:'dd-MMMM-yyyy'}} to {{timecard.project.endDate|date:'dd-MMMM-yyyy'}} - {{days}} days - {{weeks}} weeks</label>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': form.period.$invalid}">
            <label for="pediod" class="col-md-2 control-label">Period</label>
            <div class="col-md-5">
                <select class="form-control" name="period" required ng-model="period" ng-change="changePeriod(period)">
                    <option ng-if='periods[0]' value="0">{{periods[0] | date:'dd-MMM-yyyy'}} - {{getEndDate(periods[0]) | date:'dd-MMM-yyyy'}}</option>
                    <option ng-if='periods[1]' value="1">{{periods[1] | date:'dd-MMM-yyyy'}} - {{getEndDate(periods[1]) | date:'dd-MMM-yyyy'}}</option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': form.period.$invalid}">
            <label for="pediod" class="col-md-2 control-label">Task</label>
            <div class="col-md-5">
                <select class="form-control" ng-options="task.name for task in tasks" required ng-model="task">
                </select>
            </div>
            <button type="button" class="btn btn-primary" ng-click="addTask()">Add Task</button>
        </div>

        <div class="panel panel-default" ng-repeat="tcEntry in timecard.project.tasksDTO">
            <div class="panel-heading">
            <h3 class="panel-title">Task: {{tcEntry.name}} - {{tcEntry.tcEntries | sumOfValue:'workedHours'}} hours</h3>
            </div>
            <div class="panel-body" ng-repeat="tcDayEntry in tcEntry.tcEntries">
                <div class="form-group">
                    <label for="prj_pm" class="col-md-2 control-label">{{tcDayEntry.day|date:'EEEE'}}</label>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-2">
                                <p>{{tcDayEntry.day|date:'dd-MMMM-yyyy'}}</p>
                            </div>
                            <div class="col-md-1">
                                <input type="text" style="width: 3em!important;" class="form-control" name="workedHours"  ng-model="tcDayEntry.workedHours" title="Input hours">
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" rows="1" cols="50" ng-model="tcDayEntry.workDescription" maxlength="512" placeholder="Work description"></textarea>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </div>          
          
        <div class="form-group">
            <label for="prj_desc" class="col-md-2 control-label">Comment</label>
            <div class="col-md-3">
                <textarea class="form-control" rows="3" cols="50" ng-model="timecard.commentConsultant" maxlength="512"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" ng-if="btnSaveEnbl" ng-click="save(timecard)">Save</button>
                <button type="submit" class="btn btn-primary" ng-if="btnSaveEnbl" ng-click="submit(timecard)">Submit for approval</button>
            </div>
        </div>
    </form>

</div>

<a class="btn btn-default" href="#/timecards-cs">Go to main timecard list page.</a>
