<h1>Organizations</h1>

<div class="table-responsive" ng-cloak>
<p><a class="btn btn-primary" href="#/organization-new">Add an organization</a>
<input type="checkbox" ng-model="list_enabled" ng-true-value="2" ng-false-value="1" ng-click="refresh()"/>  List disabled organizations
</p>

    <div ng-show="loading">Loading..</div>
    <div class="alert alert-info" ng-show="orgs.orgs.length == 0">
        <span class="pficon pficon-info"></span> There is no organization to list, do you want to <a href="#/organization-new">add an
            organization</a>
    </div>
    <table class="table table-striped table-bordered table-hover" ng-hide="organizations.length == 0">
        <thead >
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="org in organizations">
                <td style="vertical-align: middle;">
                    <a ui-sref="organization({id: org.id_org})">{{org.name}} {{org.enabled === true ? "" : "(DISABLED)"}}</a>
                </td>
                <td style="vertical-align: middle;">
                    <a class="btn btn-default" ng-show="org.enabled" ng-click="disable(org.id)">Disable</a>
                    <a class="btn btn-default" ng-show="!org.enabled" ng-click="enable(org.id)">Enable</a> 
                    <!--a class="btn btn-danger" ng-show="org.numberOfPersons == 0" ng-click="delete(org.id)">Delete</a-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
