<h1>Edit person</h1>

<div>

    <div class="alert alert-warning" ng-show="error_msg != null">
        <span class="pficon-layered">
          <span class="pficon pficon-warning-triangle"></span>
          <span class="pficon pficon-warning-exclamation"></span>
        </span> 
            {{error_msg.error}}
    </div>
    
    <div class="alert alert-success" ng-show="saved">
      <span class="pficon pficon-ok"></span>
            Person {{person_name}} was successfully saved.
    </div>

    <form class="form-horizontal" name="form" ng-show="error_msg == null">
        <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">Name</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="name" required ng-model="person.name" ng-trim>
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.name.$error.required">Required field</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.email.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">e-mail</label>
            <div class="col-md-2">
                <input type="email" name="email" class="form-control" required ng-model="person.email">
            </div>
            <div class="col-md-4">
                <p class="help-block">Write the corporate e-mail. Do not write personal email address.</p>
                <p class="help-block" ng-show="form.email.$error.required">Required field</p>
            </div>
        </div>
        <div class="form-group" >
            <label for="prj_name" class="col-md-2 control-label">Password</label>
            <div class="col-md-2">
                <input type="password" class="form-control" name="password" ng-model="person.password">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.password_confirmation.$error.match}">
            <label for="prj_name" class="col-md-2 control-label">Password Confirmation</label>
            <div class="col-md-2">
                <input type="password" class="form-control" name="password_confirmation" ng-model="password_confirmation" data-match="person.password">
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.password_confirmation.$error.match">Passwords do not match!</span>
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': form.persontype.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">Person Type</label>
            <div class="col-md-2">
                <select class="form-control" name="persontype" required ng-model="person.personType" ng-options="type.id as type.name for type in personTypes">
                </select>
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.persontype.$error.required">Required field</span>
            </div>
        </div>
    
        <div class="form-group" ng-class="{'has-error': form.oracleId.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">Oracle PA ID</label>
            <div class="col-md-2">
                <input type="text" ui-mask="?9?9?9?9?9?9?9?9?9?9?9" class="form-control" name="oracleId"  ng-model="person.oraclePAId">
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.oracleId.$error.required">Required field</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.city.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">City</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="city" required ng-model="person.city">
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.city.$error.required">Required field</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.state.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">State</label>
            <div class="col-md-2">
                <select class="form-control" name="state" required ng-model="person.state" ng-options="state.id as state.name for state in states">
                </select>
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.state.$error.required">Required field</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.country.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">Country</label>
            <div class="col-md-2">
                <input type="text" name="country" class="form-control" required ng-model="person.country">
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.country.$error.required">Required field</span>
            </div>
        </div>
        <div class="form-group">
            <label for="prj_name" class="col-md-2 control-label">Telephone 1</label>
            <div class="col-md-2">
                <input type="text" id="telephone1" class="form-control" ui-mask="(99) 99999999?9"  ng-model="person.telephone1">
            </div>
            
        </div>
        <div class="form-group">
            <label for="prj_name" class="col-md-2 control-label">Telephone 2</label>
            <div class="col-md-2">
                <input type="text" id="telephone2" class="form-control" ui-mask="(99) 99999999?9"  ng-model="person.telephone2">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.org.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">Organization</label>
            <div class="col-md-2">
                <select class="form-control" name="org" required ng-model="person.organization.id" ng-options="org.id as org.name for org in orgs">
                </select>
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.org.$error.required">Required field</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.role.$invalid}">
            <label for="prj_name" class="col-md-2 control-label">Role</label>
            <div class="col-md-2">
                <select class="form-control" name="role" required ng-model="person.role.id" ng-options="role.id as role.name for role in roles">
                </select>
            </div>
            <div class="col-md-4">
                <span class="help-block" ng-show="form.role.$error.required">Required field</span>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label> <input type="checkbox" ng-model="person.enabled"> Enable ?
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" ng-click="person_submit(person)" ng-disabled="saved || form.$invalid">Save</button>
            </div>
        </div>
    </form>
    
</div>
    
<a class="btn btn-default" href="#/persons">Go to main person list page.</a>
